Source: llama.cpp
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13),
               debhelper (>=13~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,

Package: llama.cpp-qcom
Architecture: all
Section: admin
Priority: optional
Depends: ${misc:Depends},
         fastrpc,
Description: llama.cpp for Qualcomm Snapdragon
 llama.cpp with Hexagon DSP backend for Qualcomm Snapdragon devices.

